.product-swiper {
    width: 100%;
    max-width: 600px;
    /* або потрібна тобі ширина */
    margin: 0 auto;
}

.swiper-slide img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

.image-title {
    text-align: center;
    margin-top: 5px;
    font-size: 14px;
    color: #333;
}

/* Стилі для кнопок навігації */
.swiper-button-prev,
.swiper-button-next {
    color: #000;
}

/* Стилі для пагінації */
.swiper-pagination-bullet {
    background: #000;
    opacity: 0.7;
}

.swiper-pagination-bullet-active {
    background: #007bff;
    opacity: 1;
}

.product-details {
    max-width: 600px;
    margin: 20px auto 0;
    font-family: Arial, sans-serif;
}

.product-description {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.5;
    color: #444;
}